.chat {
  position: absolute;
  right: 10px;
  bottom: 75px;
  width: 250px;
  height: calc(100% - 150px);
  background-color: #fff;
  border-radius: 4px;
}

.messages {
  height: calc(100% - 50px);
  overflow-y: scroll;
}
.messageList {
  padding: 10px;
}

.chat-input {
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 45px;
  border-top: 1px solid grey;
  padding: 10px;
}

.send-chat-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  border-top: 1px grey solid;
  border-left: 1px solid grey;

  height: 45px;
  background-color: #f2f2f2;
  font-weight: bold;
}
